.footer{
    position: relative;
    background: #45474d;
    padding: 20px 10px 10px 10px;
    color: #95989d;
}

.footer_wrapper{
    margin: 0px auto 0;
    width: 100%;
    max-width: 920px;
}

.footer_container{
    margin: 0 auto;
    max-width: 100%;
}

.footer_social{
    border-bottom: 1px solid #696969;
    border-top: 1px solid #696969;
    padding: 25px 0;
}

.footer_social li{
    margin: 0 3.05556%;
}

.footer_languages{
    font-weight: bold;
    padding: 35px 0 50px;
    text-transform: capitalize;
}

.footer_languages a{
    color: #ffffff;
}

.footer_languages li{
    margin: 0 9px;
}

.footer_list_inline{
    font-size: 0;
    position: relative;
    text-align: center;
}

.footer_list_inline li{
    display: inline-block;
    font-size: 18px;
    line-height: 1.5;
    vertical-align: middle;
    font-size: 0;
    position: relative;
    text-align: center;
}

.footer_copyright{
    font-size: 11px;
    text-align: left;
    padding: 10px 0;
}

.footer_copyright .reserved {
    color: #95989d;
    display: block;
}

.footer_logo_block{
    position: relative;
    width: 100%;
    height: 20px;
}

.footer_logo_line{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #AAAAAA;
    top: 10px;
    z-index: 1;
}

.footer_logo_container{
    position: relative;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    padding-top: 35px;
}

.footer_logo_back{
    position: absolute;
    background-color: white;
    z-index: 2;
    width: 300px;
    height: 45px;
}

.footer_logo{
    position: absolute;
    width: 50px;
    height: 45px;
    background-image: url(../images/logo_footer.png);
    background-repeat: no-repeat;
    background-size: 50px;
    left: 125px;
    z-index: 2;
}

.footer_container .block{
    float: left;
    max-width: 25%;
}

.footer_container .section{
    float: left;
    line-height: 2.07692;
    margin: 20px 50px 50px 0px;
    min-width: 200px;
}

.footer_container .section a {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 2px;
    display: block;
    position: relative;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.footer_container .section *{
    color: #979797;
}

.footer_container .section a:hover {
    color: #000000;
}

.footer_container .section .hdr {
    color: #383838!important;
    font-size: 18px;
    line-height: 1.35;
    margin-bottom: 4px;
    /*text-transform: uppercase;*/
}

.footer_container .section .hdr a {
    font-size: 18px;
    line-height: 1.35;
    color: #383838!important;
    display: block;
    position: relative;
}

.footer_container .section ul li p{
    cursor: default;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 15px;
}

.footer_social_block{
    text-transform: lowercase;
    font-size: 21px;
    font-weight: bold;
    font-family: tahoma;
    cursor: default;
}

.footer_social_fb{
    margin-right: 10px
}

.footer_social_fb:hover{
    color: #3b5998!important;
}

.footer_social_in{
}

.footer_social_in:hover{
    color:#007bb6!important;
}

.footer_lng_icon {
    width: 69px;
    height: 69px;
    opacity: 0.5;
    background-image: url(../images/lang_icon_white.png);
    background-size: 69px 69px;
    background-repeat: no-repeat;
    margin-left: 62px;
    margin-right: 52px;
    line-height: 53px;
    font-family: "opensans-light";
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.footer_lng_icon:hover {
    opacity: 0.8;/*0.7*/
}

.footer_ggref {
    color: #95989d;
    font-size: 12px!important;
}

.footer_ggref:hover {
    color: #A4A6AB;
}

.footer_vertical_divider {
    background-color: #808080;
    height: 10px;
    width: 1px;
    display: block;
    float: left;
}

.global-footer-legal a {
    margin-left: 20px;
}

.global-footer-legal a:first-child {
    margin-left: 0;
}

.global-footer-social-sharing .contacts a {
    margin-left: 10px;
}

.global-footer-social-sharing .contacts a:first-child {
    margin-left: 0;
}

.global-footer-social-sharing a {
    margin-left: 30px;
}

.global-footer-social-sharing a:first-child {
    margin-left: 0;
}

.global-footer-social-sharing a {
    color: #7a7e85;
}

.global-footer-social-sharing a:hover {
    color: #95989d;
}

.global-footer-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.global-footer-icon-twitter {
    width: 21px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/sprite.png);
    -webkit-background-size: 320px;
    background-size: 320px;
}

.global-footer-icon-facebook {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -32px 0;
    background-image: url(../images/sprite.png);
    -webkit-background-size: 320px;
    background-size: 320px;
}

.global-footer-icon-linkedin {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -128px 0;
    background-image: url(../images/sprite.png);
    -webkit-background-size: 320px;
    background-size: 320px;
}
